.email-input-placeholder::placeholder {  
  color: #A6BA9E;  
  opacity: 1;  
}  
  
.email-input-placeholder::-webkit-input-placeholder {  
  color: #A6BA9E;  
  opacity: 1;  
}  
  
.email-input-placeholder::-moz-placeholder {  
  color: #A6BA9E;  
  opacity: 1;  
}  
  
.email-input-placeholder:-ms-input-placeholder {  
  color: #A6BA9E;  
  opacity: 1;  
} 
